# as taken the reference of the  iris dataset

## importing the library

In [1]:
import pandas as pd

In [2]:
dataset=pd.read_csv("iris.csv")

In [3]:
dataset

,Id,SepalLengthCm,SepalWidthCm,PetalLengthCm,PetalWidthCm,Species
0,1,5.1,3.5,1.4,0.2,Iris-setosa
1,2,4.9,3.0,1.4,0.2,Iris-setosa
2,3,4.7,3.2,1.3,0.2,Iris-setosa
3,4,4.6,3.1,1.5,0.2,Iris-setosa
4,5,5.0,3.6,1.4,0.2,Iris-setosa
...,...,...,...,...,...,...
145,146,6.7,3.0,5.2,2.3,Iris-virginica
146,147,6.3,2.5,5.0,1.9,Iris-virginica
147,148,6.5,3.0,5.2,2.0,Iris-virginica
148,149,6.2,3.4,5.4,2.3,Iris-virginica
149,150,5.9,3.0,5.1,1.8,Iris-virginica

## the explanatory variable is the type of the independent variable 
## or these variabel belong to x axis and with this we can find the relationship

## in the above dataset the explanatory variable are the ->
## 1.sepal length (Cm)
## 2. sepal width (Cm)
## 3.petal length (Cm)
## 4. petal width(Cm)

## and the responsive variable are those to which the effect is to be calculated
## and these are in the dataset ->
## the species

## also the responsive variable are those who has to be determine the relationship 
## and these are on the y axis always

In [4]:
# these aare the two variables